<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Papel lounge ">
<meta name="author" content="Abdulhamit Gunay">

<title>@ViewData["Title"] - Papel Lounge</title>

<!-- Favicons-->
<!--light theme-->
<link rel="icon" href="/img/favicons/cropped-papel-logo-01-32x32.png" sizes="32x32" id="light-scheme-icon-x32">
<link rel="icon" href="/img/favicons/cropped-papel-logo-01-192x192.png" sizes="192x192" id="light-scheme-icon-x192" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="180x180" href="/img/favicons/cropped-papel-logo-01-180x180.png" />
<meta name="msapplication-TileImage" type="image/x-icon" content="/img/favicons/cropped-papel-logo-01-270x270.png" />



<!--Dark Theme-->
<link rel="icon" href="/img/favicons/cropped-papel-white-logo-01-32x32.png" sizes="32x32" id="dark-scheme-icon">
<link rel="icon" href="/img/favicons/cropped-papel-white-logo-01-192x192.png" sizes="192x192" id="light-scheme-icon-x192" />
<link rel="apple-touch-icon" type="image/x-icon" href="/img/favicons/cropped-papel-white-logo-01-180x180.png" sizes="180x180" id="light-scheme-icon-x180" />
<meta name="msapplication-TileImage" type="image/x-icon" content="/img/favicons/cropped-papel-white-logo-01-270x270.png" id="light-scheme-icon-x270" />

