@using EMY.Restaurant.Infrastructure.Persistence
@{
    ViewData["Title"] = "Waiting Mail Authorization!";
    Layout = "~/Views/Shared/_ThemeFooresRestaurant.cshtml";
}

<div class="hero_single inner_pages background-image" data-background="url(/Uploads/Photos/@HomePageConfiguration.OthersBG)" style="background-image: url(&quot;/Uploads/Photos/@HomePageConfiguration.OthersBG&quot;);">
    <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10 col-md-8">


                    <p class="lead text-muted">
                       @* <h1>Email Verifizierung</h1>*@
                        <h2>
                            <p>&nbsp;</p>
                            <p style="color:#d68397;">
                                Vielen Dank, bitte überprüfen Sie Ihr Email-Postfach!
                            </p>
                            <p style="color:#ffffff;">
                                Wir haben Ihnen eine Verifizierungs-E-Mail an die von Ihnen angegebene Email-Adresse gesendet. Sie müssen lhre E-Mail-Adresse bestätigen, um fortfahren zu können.
                                Wenn Sie die Verifizierungs-E-Mail nicht erhalten
                                haben, prüfen Sie bitte lhre Ordner für Spam-
                                oder Junk E-Mails.

                            </p>
                            <p style="color:#ffffff;">
                                Vielen Dank und mit freundlichen Grüßen!<br />
                                Ihr Papel Lounge Team.
                            </p>
                            <p>&nbsp;</p>
                        </h2>
                    </p>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
    <div class="frame white"></div>
</div>
<!-- /hero_single -->
<div class="bg-dark">
</div>


